{% extends "layout.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h3>Welcome to BraBarApp</h3>


<h3>Last 5 Restaurants</h3>
<ul>
{% for restaurant in restaurants %}
    <li><a href="/restaurants/{{ restaurant.id }}">{{ restaurant.name }}</a></li>
{% endfor %}
</ul>

<h3>Last 5 Users</h3>
<ul>
{% for account in accounts %}
    <li><a href="/accounts/{{ account.id }}">{{account.firstname or account.lastname }}</a></li>
{% endfor %}
</ul>

<h3>Last 5 Reviews</h3>
<ul>
{% for rating in ratings %}
    <li><a href="/ratings/{{rating.id}}">{{rating}}</a></li>
{% endfor %}
</ul>

<h3>Last 5 Buffets</h3>
<ul>
{% for buffet in buffets %}
    <li><a href="/buffets/{{buffet.id}}">{{buffet}}</a></li>
{% endfor %}
</ul>

<h3>Last 5 Events</h3>
<ul>
    {% for event in events %}
    <li><a href="/events/{{event.id}}">{{event}}</a></li>
    {% endfor %}
</ul>


{% endblock %}
