{% extends "layout.html" %}
{% block title %}New Restaurant{% endblock %}
{% block content %}
<h2>Add a Restaurant</h2>
<form action="/restaurants/create" method="POST">
    <label class="flabel">Restaurant Name</label> <input class="finput" type="text" name="name" value="{{ form_data.get("name", "") }}">
        <label class="flabel">Description</label> <textarea class="finput" name="description" rows="5" maxlength="500">{{ form_data.get("description", "")}}</textarea>
    <label class="flabel">Restaurant Address</label> <input class="finput" type="text" name="address" value="{{ form_data.get("address","") }}">
    <label class="flabel">Restaurant city</label> Helsinki<br>
    <h4>Opening hours</h4>
    <table>
        <thead>
            <th>Day</th>
            <th>Opens at</th>
            <th>Closes at</th>
        </thead>
        <tbody>
            {% for day in weekdays %}
            <tr>
                <td>{{day}}</td>
                <td><input type="time" name="{{day.lower()}}start" 
                    value="{{form_data.get("{{day.lower()}}start", "") }}"/></td>
                <td><input type="time" name="{{day.lower()}}end" 
                    value="{{form_data.get("{{day.lower()}}end", "") }}"/></td>
            </tr>
            {% endfor %}
</tbody>
    </table>
    <row class="fbutton">
        <button formaction="/restaurants/{{restaurant_id}}" formmethod="GET">Cancel</button>
        <button type="submit">Submit</button>
    </row>
</form>
<br>

{% endblock %}
